

<!-- Jumbotron with paper information -->
<div class="jumbotron">
	<h1>miRNA-targeting sgRNA Library</h1>
	<p>
		This site provides all possible sgRNAs targeting the human miRNAs annotated in <a href="http://www.mirbase.org">miRBase v21</a>.
		<br>
		<!--The information about all sgRNAs, the LX-miR library or the miRNA-targeting sgRNAs included in the 
		<a href="http://www.nature.com/nmeth/journal/v11/n8/full/nmeth.3047.html">GeCKOv2 library</a> can be downloaded 
		under the 'Download' tab. -->The sgRNAs targeting a specific miRNA can viewed by searching using the primary miRNA name, miRBase ID,
		sgRNA sequence or sgRNA ID.<br>
	</p>
	<div class="text-center">
		<a class="btn btn-default btn-lg" href="{{home}}/Search/" role="button">Find sgRNAs</a>
	</div>
	<!--<p><a class="btn btn-default btn-lg" href="#" role="button">Get the paper</a></p>-->
</div>

