<div class='page-header'>
	<h1>microRNA</h1>
</div>
<div>
    <p>microRNAs (miRNAs) are small RNA molecules which play an important role in gene regulation.</p>
    <figure>
        <img src="{{home}}/images/miRNA Biogenesis.jpg">
        <figcaption><b>miRNA Biogenesis:</b> The primary miRNA is transcibed by RNA Polymerase II. The pre-miRNA is then cleaved from the primary
         transcipt by the microprocessor complex whose main components are DROSHA and DGCR8. The pre-miRNA is then exported from the nucleus by exportins, 
         including Exportin5 (XPO5). The loop is then cleaved off the pre-miRNA by DICER. The dsRNA miRNA duplex is loaded into AGO which is part of the RISC
         complex and one of the miRNA strands is removed. This complex then binds target mRNAs, often resulting in translational repression 
         (<a href="http://dx.doi.org/10.1038/nrc3932">Lin & Gregory, 2015</a>).</figcaption>
    </figure>